<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.graduatioproject_android">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FragmentMy.SectionActivity"></activity>
        <activity android:name=".FragmentMy.InformActivity" />
        <activity android:name=".FragmentMy.VoiceActivity" />
        <activity android:name=".FragmentMy.ThemeActivity" />
        <activity android:name=".FragmentMy.HeadActivity" />
        <activity android:name=".FragmentHome.FragmentHome" />
        <activity android:name=".tools.FragmentManager" />
        <activity android:name=".LoginAndRegister.RegisterActivity" />
        <activity android:name=".LoginAndRegister.LoginActivity" />
        <activity android:name=".LoginAndRegister.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>